body{
    font-family: 'Yantramanav';
    color:  #3b4d5b;
}
h1 {
    font-size: 50px;
    font-variant: small-caps;
    font-family: 'Caveat';
}

h6 {
    font-style: italic;
}

/* Nav Bar*/

.navbar-brand{
    font-variant: small-caps;
    font-size: 40px;
}

.navbar-light .navbar-brand {
    font-family: 'Caveat';
    color: #e88d67;
}

.btn-info{
    background-color: white;
    border-color: #e88d67;
    font-family: 'Yantramanav';
    font-variant: small-caps;
    color: #e88d67;
}

.btn-info.disabled{
    background-color: lightgrey;
    border-color: #e88d67;
}

/* Jumbotron background and font styles */

.jumbotron{
    background-attachment: scroll ;
    background-image: url(bubbles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    color: white;
    padding: 5%;
}

.columns{
    background-color: #f5fcff;
    padding:5%;

}

.my-5 {
    border-color: white;
}

.img{
    height: auto;
}

.container.footer {
    color:  #e88d67;
    font-variant: small-caps;
}